*{
	margin:0; padding:0;
	font-family:ubuntu;
}
body{
	width:90%;
	margin:auto;
	box-shadow:2px 2px 5px 5px rgba(0,0,0,0.1);
}
ul{
	list-style-type:none;
	text-decoration:none;
	color:black;
}
a{
	color:black;
	text-decoration:none;
}
/**header**/
#header{
	width:90%;
	height:50px;
	background:white;
	position:fixed;
	top:0;
	z-index:1000;
	box-shadow:0px 0px 5px 5px rgba(0,0,0,0.1);
	border-bottom:1px solid #ddd;
}
/**menu**/
#menu-top{
	float:left;
	width:60%;
	height:50px;
}
#menu-top li{
	float:left;
	width:100px;
	height:50px;
}
#menu-top li a{
	display:block;
	text-align:center;
	line-height:50px;
	font-weight:bold;
	transition:0.5s ease all;
}
#menu-top li a:hover{
	transition:0.5s ease all;
	background:#008D92;
	color:white;
}
#menu-top li a.active{
	background:#ddd;
}
/**search**/
#search{
	float:right;
	height:50px;
	line-height:50px;
}
#tim-kiem{
	border:none;
	font-size:15px;
	margin-right:20px;
	background:white;
	cursor:pointer;
}

/**slider-to**/
#slider-top{
	width:100%;
	height:450px;
	margin-top:52px;
}

.bxslider li img{
	width:100%;
	height:450px;
	position:relative;
}
.bxslider li p a{
	color:white;
	padding-left:20px;
}

.bxslider li p{
	position:absolute;
	width:100%;
	height:50px;
	line-height:50px;
	color:white;
	bottom:0px;
	font-size:bold;
	opacity:0.8;
	font-size:20px;
	background:black;
}
.bxslider li p:hover{
	background:red;
}
/*main**/
#main{
	width:100%;
	margin-top:50px;
	border-top:1px solid lightgray;
}
#main-left{
	width:67%;
	float:left;
	padding:1em;
	border-right:1px solid lightgray
}
#main-right{
	float:left;
	padding:1em;
	width:26%;
}
/**title**/
#title{
	width:100%;
	height:40px;
	line-height:40px;
	font-weight:bold;
	font-size:15px;
	border-bottom:1px solid lightgray;
}
hr{
	width:5%;
	height:2px;
	background:green;
	border:none;
}
/**main-left**/
#main-left-1{
	width:100%;
}
.main-left-content{
	float:left;
	width:48%;
	margin:10px 7px;
	height:320px;

}
.main-left-content-img{
	width:100%;
	height:200px;
}
.main-left-content-img img{
	width:100%;
	height:200px;
}
.main-left-content-title{
	width:100%;
	height:40px;
	line-height:40px;
	font-weight:bold;
}
.main-left-content-excerpt{
	width:100%;
	height:70px;
}
/**main-lèt2**/
#main-left-2{
	width:100%;
	margin-top:10px;
	height:500px;
}
.main-left-2-list{
	float:left;
	width:50%;
	height:500px;
	margin-top:10px;
}
.main-left-2-list-img{
	width:100%;
	height:450px;
}
.main-left-2-list-img img{
	width:100%;
	height:450px;
}
.main-left-2-list-title{
	width:100%;
	height:40px;
	text-align:center;
	margin-top:10px;
	font-weight:bold;
}
.main-left-2-content{
	width:49%;
	height:130px;
	float:left;
	margin-top:10px;
	margin-left:5px;
}
.main-left-2-content-img{
	margin-top:10px;
	float:left;
	width:40%;
	height:130px;
}
.main-left-2-content-img img{
	width:40%;
	height:130px;
	margin-top:10px;
	
}
.main-left-2-content-title{
	width:58%;
	height:130px;
	padding-left:5px;
	font-size:13px;
	font-weight:bold;
}
/**button**/
.button{
	width:20%;
	height:40px;
	color:white;
	line-height:40px;
	background:#ff3333;
	border-radius:0.5em;
	transition:1s ease all;
	box-shadow:2px 2px 2px 2px rgba(0,0,0,0.1);
}
.button:hover{
	transition:1s ease all;
	border-radius:0.5em;
	background:#008D92;
}
.button a{
	color:white;
	font-weight:bold;
	font-size:16px;
}
/**bottom**/
#bottom{
	width:97%;
	padding:1em;
	height:100px;
	margin-top:20px;
	background:#222222;
}
h3{
	color:white;
}