*{
	margin:0;
	padding:0;
	font-family:"Segoe-UI";
	font-size:15px;
}
a{
	text-decoration:none;
	color:black;
}
a:hover{
	color:#DC143C;
}
b{
	font-weight:bold; 
	font-size:18px;
	color:blue;
	margin-left:10px;
}
b:hover{
	color:#DC143C;
}
h2{
	font-size:14px;
	color:black;
	margin-top:5px;
	margin-left:10px;
}
h3{
	font-size:15px;
	color:white;
	margin-left:100px;
	margin-top:10px;
}
h5{
	padding-left:10px;
	font-size:16px;
	font-family:"segio-UI";
	color:#333;
}
p{
	font-weight:bold;
	font-size:16px;
	margin:10px 10px;
}

ul{
	list-style-type:none;
}
body{
	background:#ddd;
}
/**header**/
#header{
	height:100px;
	background:white;
	width:100%;
}
#logo-web{
	float:left;
	height:80px;
	width:300px;
	margin:5px 10px;
}
#logo-web img{
	height:80px;
	width:200px;
	margin-top:5px;
}
/**menu**/
#menu{
	width:600px;
	margin:auto;
	float:left;
}
#menu li{
	width:120px;
	height:40px;
	float:left;
	margin-top:40px;
}
#menu li a{
	text-align:center;
	line-height:40px;
	color:#DC143C;
	display:block;
	font-weight:bold;
	transition:1s ease all;
}
#menu li a:hover{
	transition:1s ease all;
	background:blue;
	border-radius:5px;
	color:white;
}
#map{
	float:right;
	margin-top:10px;
	width:200px;
	height:80px;
	margin-right:10px;
}
.map-title{
	width:200px;
	padding-right:0px;
}
/**menu-con**/
#menu-con{
	width:25%;
	float:left;
	background:white;
	margin-top:10px;
    margin-left:10px;
}
#menu-con li{
	list-style-image:url('img/green.png');
	width:100%;
	height:40px;
	margin-top:10px;
	margin-left:30px;
	border-bottom:dotted 1px #ddd;
}
#menu-con li:hover{
	list-style-image:url('img/yellow.png');
}
#menu-con li a{
	line-height:40px;
	color:black;
	font-weight:bold;
}
#menu-con li a:hover{
	color:#DC143C;
}
/**menu-login**/
#menu-login{
	width:80%;
	margin:auto;
	height:50px;
}
#menu-login li{
	width:100px;
	list-style-image:none;
	float:left;
	margin-left:10px;
	height:40px;
	border:none;
}
#menu-login li:hover{
	list-style-image:none;
}
#menu-login li a{
	display:block;
	text-align:center;
	line-height:40px;
	margin-left:10px;
	transition:1s ease all;
}
#menu-login li a:hover{
	transition:1s ease all;
	background:blue;
	border-radius:5px;
	color:white;
}
/**next**/
#next{
	width:100%;
	margin-top:10px;
	height:30px;
	border-top:1px solid #DC143C;
}
#next li{
	float:left;
	width:40px;
	height:30px;
	margin:10px 0;
	line-height:30px;
	text-align:center;
	color:#6495ED;
	margin-left:5px;
	background:white;
}
#next li a{
	display:block;
	color:#6495ED;
	line-height:30px;
	text-align:center;
	transition:1s ease all;
}
#next li a:hover{
	transition:1s ease all;
	background:#6495ED;
	color:white;
}
#next li a.active{
	background:#6495ED;
	color:white;
	border-radius:40%;
}
/**main**/
#main{
	width:70%;
	float:left;
	background:white;
	margin-top:10px;
	margin-left:10px;
}
/**content**/
#content{
	width:95%;
	height:120px;
	margin:10px 10px;
	border-bottom:dotted 2px #ddd;
}
.content-img{
	float:left;
	width:200px;
	height:120px;
}
.content-img img{
	width:200px;
	height:110px;
}
.content-title{
	height:40px;
	width:90%;
	margin-top:5px;
	line-height:40px;
}
.content-excerpt{
	height:50px;
	width:90%;
	color:gray;
	margin-top:5px;
	margin-left:10px;
}
.single{
	height:auto;
}
/**list**/
#list{
	background:#DC143C;
	height:50px;
	border-radius:5px;
	line-height:50px;
	margin:5px 5px;
	width:96%;
	color:white;
	font-weight:bold;
}
#list-new{
	background:#DC143C;
	height:50px;
	border-radius:5px;
	line-height:50px;
	margin:5px 5px;
	width:99%;
	color:white;
	font-weight:bold;
}
/**bottom**/
#bottom{
	height:200px;
	background:black;
}
.team{
	font-weight:bold;
	font-size:30px;
	color:white;
	margin-left:100px;
	border-bottom:2px solid white;
	margin-right:100px;
	margin-top:10px;
}

/**input**/
input[type="search"]{
	width:70%;
	margin:5px 10px;
	height:30px;
	border-radius:10em;
	border:1px solid #ddd;
}
input[type="search"]:focus{
	border-radius:10em;
	border:1px solid #DC143C;
}
/**button*/
button{
	width:60px;
	height:30px;
	background:blue;
	color:white;
	border:none;
	border-radius:10em;
    cursor:pointer;
    transition:1s ease all;
}
button:hover{
	transition:1s ease all;
	background:#DC143C;
}
#button-search{
	width:60px;
	height:30px;
	background:blue;
	color:white;
	border:none;
	border-radius:10em;
    cursor:pointer;
    transition:1s ease all;
}
#button-search:hover{
	transition:1s ease all;
	background:#DC143C;
}