*{
	margin:0; padding:0;
	font-family:roboto,arial;
}

body{
	background:white;
}
a{
	text-decoration:none;
	color:blue;
}
h1{
	color:green;
}
h2{
	width:100%;
	text-align:center;
	margin-top:10px;
	font-size:30px;
	border-bottom:2px solid white;
}
h5{
	float:left;
	color:#00008B;
	margin-left:5px;
}

/***TOP***/
#top{
	width:100%;
	height:50px;
	background:#00008B;
}
.top-text{
	float:left;
	height:50px;
	line-height:50px;
	color:white;
	font-weight:bold;
	font-size:20px;
	padding-left:100px;
}
.login{
	float:right;
	width:20%;
	padding-right:100px;
	height:50px;
}
.login li{
	float:right;
	list-style-type:none;
	width:30%;
	border:1px solid green;
	border-radius:0.5em;
	height:40px;
	margin-left:5px;
	background:green;
	margin-top:5px;
}
.login li a{
	display:block;
	text-align:center;
	font-weight:bold;
	font-size:13px;
	color:white;
	line-height:40px;
}
/***Header***/
#header{
	width:100%;
	height:100px;
	background:white;
	margin-top:5px;
	clear:left;
	box-shadow:2px 2px 5px 1px rgba(0,0,0,0.2);
}
.header{
	width:85%;
	margin:auto;
	height:100px;
}
#logo{
	width:50%;
	height:100px;
	float:left;
}
.logo-title{
	float:left;
	color:white;
	background:green;
	width:20%;
	height:90px;
	line-height:90px;
	text-align:center;
	font-weight:bold;
	font-size:90px;
	border-radius:40%;
}
.text{
	float:left;
	color:green;
	font-weight:bold;
	font-size:50px;
	padding-top:30px;
}
#search{
	width:40%;
	float:right;
	height:50px;
	padding-top:30px;
}

/**menu**/
#menu{
	width:85%;
	margin:auto;
	height:50px;
	background:#00008B;
	margin-top:5px;
	border-radius:0.5em;
	border:none;
	box-shadow:2px 2px 5px 1px rgba(0,0,0,0.2);
}
#menu li{
	display:inline-block;
	width:225px;
	list-style-type:none;
	position:relative;
	transition:1s ease all;
}
#menu li a{
	display:block;
	color:white;
	font-weight:bold;
	font-size:15px;
	text-align:center;
	line-height:50px;
	transition:1s ease all;
}
#menu li a:hover{
	transition:1s ease all;
	background:#0000CD;
}
#menu li > .sub-menu{
	display:none;
	position:absolute;
	background:black;
	opacity:0.8;
	border-bottom-right-radius:1em;
	border-bottom-left-radius:1em;
}
#menu li:hover .sub-menu{
	transition:1s ease all;
	display:block;
}
#menu li a img{
	width:30px; height:20px;
	margin-top:5px;
}
/**marque**/
#marquee{
	width:85%;
	height:50px;
	line-height:50px;
	margin:5px 100px;
	border:2px solid #00008B;
	border-radius:0.5em;
	color:#00008B;
	font-weight:bold;
	background:lightgray;
	box-shadow:2px 2px 5px 1px rgba(0,0,0,0.2);
}
/**Lít**/
#list{
	background:#00008B;
	color:white;
	font-weight:bold;
	font-size:18px;
	width:100%;
	height:40px;
	line-height:40px;
	border-top-right-radius:0.5em;
	border-top-left-radius:0.5em;
}
#list-title{
	background:#ddd;
	color:white;
	font-weight:bold;
	font-size:18px;
	width:100%;
	height:40px;
	line-height:40px;
	border-top-right-radius:0.5em;
	border-top-left-radius:0.5em;
}
#list-1{
	width:100%;
	height:40px;
	margin-top:10px;
	line-height:40px;
	font-weight:bold;
	color:#dc143c;
	margin-bottom:5px;
	border-bottom:2px solid #dc143c;
}
/** Main**/
#main{
	width:85%;
	margin:auto;
	height:auto;
	border:1px solid #00008B;
	margin-top:5px;
	border-radius:0.5em;
}
#main-nd{
	width:70%;
	float:left;
	height:auto;
	border:1px solid #00008B;
	border-radius:0.5em;
}
.main-list{
	width:100%;
	height:60px;
	background:orange;
}
.main-list li{
	list-style-type:none;
	float:left;
	width:5%;
	height:40px;
	margin:10px 5px;
	cursor:pointer;
}
.main-list li img{
	width:40px;
	height:40px;
	border-radius:50%;
}
.main-content{
	width:99%;
	margin:5px 5px;
	height:150px;
}
.content-img{
	width:30%;
	float:left;
	height:150px;
	background:lightgray;
	transition:1s ease all;
}
.content-img img{
	width:100%;
	float:left;
	height:150px;
	transition:1s ease all;
}
.content-img img:hover{
	transition:1s ease all;
	border-radius:50%;
}
.content-img:hover{
	transition:1s ease all;
	border-radius:50%;
}
.content-nd{
	width:69%;
	height:150px;
	float:left;
	margin-left:10px;
}
.content-title{
	width:99%;
	height:30px;
	line-height:30px;
	padding-left:0.5em;
	background:lightgray;
	font-size:20px;
	transition:0.5s ease all;
}
.content-title:hover{
	transition:0.5s ease all;
	margin-left:5px;
}
.content{
	width:100%;
	padding-left:0.8em;
	height:80px;
	margin-top:5px;
	word-wrap:break-word;
}
.content-date{
	width:99%;
	padding-left:0.5em;
	margin:5px 5px;
	height:25px;
	line-height:25px;
	border:1px solid #ddd;
	border-radius:0.3em;
}

.content-single{
	width:99%;
	padding-left:0.3em;
	word-wrap:break-word;
	margin-bottom:5px;
}

/**Page**/
#page{
	width:85%;
	margin:auto;
	height:50px;
	border:1px solid #00008B;
	border-radius:0.5em;
	margin-top:10px;
}
#page li{
	display:inline-block;
	width:40px;
	list-style-type:none;
	height:40px;
	margin:5px 5px;
}
#page li a{
	color:green;
	text-align:center;
	display:block;
	font-weight:bold;
	line-height:40px;
	transition:0.3s ease all;
}
#page li a:hover{
	transition:0.3s ease all;
	background:#00008B;
	color:white;
	border-radius:50%;
}
#page li a.active{
	background:#00008B;
	color:white;
	border-radius:50%;
}
/** nEW-LIST**/
#new-list{
	width:85%;
	margin:auto;
	margin-top:10px;
}

#new-left{
	float:left;
	width:60%;
	height:400px;
	border-radius:0.5em;
	border:1px solid #00008B;
}
/**new-right**/
#new-right{
	float:left;
	width:39%;
	height:auto;
	margin-left:7px;
	border-radius:0.5em;
	border:1px solid #00008B;
}
.new-right-left{
	float:left;
	width:48%;
	height:auto;
	margin-left:5px;
}
.new-right-left li{
	list-style-type:none;
	height:40px;
	width:100%;
}
.new-right-left li a{
	display:block;
	transition:1s ease all;
	line-height:40px;
	border-radius:0.5em;
}
.new-right-left li a:hover{
	transition:1s ease all;
	background:lightgray;
	border-radius:0.5em;

}

.new-right-right{
	float:left;
	width:48%;
	height:auto;
	margin-left:5px;
}
.new-right-right li{
	list-style-type:none;
	height:40px;
	width:100%;
}
.new-right-right li a{
	display:block;
	transition:1s ease all;
	line-height:40px;
	border-radius:0.5em;
}
.new-right-right li a:hover{
	transition:1s ease all;
	background:lightgray;
	border-radius:0.5em;

}
/***Bottom***/
#bottom{
	width:100%;
	height:300px;
	color:white;
	background:#333;
	margin-top:10px;
	margin-bottom:20px;
}
.t1{
	float:left;
	width:30%;
	margin:10px 5px;
	margin-left:40px;
}
.t2{
	margin:10px 5px;
	float:left;
	width:30%;
}
.t3{
	float:left;
	margin:10px 5px;
	width:30%;
}
/***Input-button***/
input[type="search"]{
	width:80%;
	height:40px;
	border:1px solid #ddd;
	border-radius:0.5em;
}
button{
	width:19%;
	height:40px;
	border:none;
	border-radius:0.5em;
	color:white;
	font-weight:bold;
	font-size:18px;
	cursor:pointer;
	background:green;
	transition:1s ease all;
}
button:hover{
	transition:1s ease all;
	background:#00008B;
}
table{
	width:99%;
	margin:5px 5px;

}
tr{
	width:100%;
	height:40px;
	border-radius:0.5em;
}
tr:nth-child(even){
	background:lightgray;
}